// =============================================
//              Custom Settings
//          Last Updated:2013-9-5
// =============================================

@import "core/constants";


// =============================================
//                  File Paths
// =============================================

// file paths
// $root_path:                 "../"; path to HTML document root (relative from CSS)
// $images_path:               "images/"; path to images (relative from $root_path)
// $fonts_path:                "fonts/"; path to fonts (relative from $root_path)
// $boxsizing_path:            "/js/libs/boxsizing.htc"; path to box sizing polyfill (change to absolute path from HTML document root)
// $PIE_path:                  "/js/libs/PIE.htc"; path to IE CSS3 polyfill (change to absolute path from HTML document root)


// =============================================
//                 Grid System
// =============================================

// grid
// $numerators:                "one"    "two"    "three"  "four"    "five"   "six"    "seven"    "eight"   "nine"   "ten"    "eleven"    "twelve";
// $denominators:              "whole"  "half"   "third"  "fourth"  "fifth"  "sixth"  "seventh"  "eighth"  "ninth"  "tenth"  "eleventh"  "twelfth";
// $denominators-plural:       "wholes" "halves" "thirds" "fourths" "fifths" "sixths" "sevenths" "eighths" "ninths" "tenths" "elevenths" "twelfths";
// $grid-classes:              true;
// $grid-adapter-classes:      true;
// $grid-adapters:             $one-whole $one-half $one-third $one-fourth $one-fifth;
// $grid-adapters-clearfix:    15;
// $container-width:           1200px;
// $gutter:                    10px;
// $responsive:                true;


// =============================================
//                  Breakpoints
// =============================================

// breakpoints
// $small-mobile:              "(max-width: 319px)";
// $iphone:                    "(min-device-width: 320px) and (max-device-width: 480px)";
// $iphone5:                   "(min-device-width: 320px) and (max-device-width: 568px)";
// $mobile:                    "(max-width: 480px)";
// $not-mobile:                "(min-width: 481px)";
// $small-tablet:              "(max-width: 767px)";
// $tablet:                    "(min-width: 768px)";
// $ipad:                      "(min-width: 768px) and (max-width:1024px)";
// $retina-ipad:               "(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)";
// $not-desktop:               "(max-width: 1024px)";
// $desktop:                   "(min-width: 1025px)";
// $retina:                    "(-webkit-min-device-pixel-ratio: 2)";


// =============================================
//                   Flexbox
// =============================================

// flexible box layout
// $flexbox-classes:           true; enable output of flexbox classes
// $flexbox-helpers:           "flex-wrapper" "flex-box" "vertical-center";


// =============================================
//                   Helpers
// =============================================

// helpers
// $positioning-classes:       true;
// $spacer-classes:            true;
// $spacer-helpers:            "padded" "pad-top" "pad-right" "pad-bottom" "pad-left"
//                             "gapped" "gap-top" "gap-right" "gap-bottom" "gap-left"
//                             "offset" "offset-top" "offset-right" "offset-bottom" "offset-left";
// $spacer-mod-classes:        true;
// $spacer-modifiers:          "half" "double" "triple";
// $size-classes:              true;
// $size-helpers:              "small" "medium" "large";
// $layout-classes:            true;
// $layout-helpers:            "inline" "inline-block" "block"
//                             "hidden"
//                             "zero"
//                             "pull-right" "pull-left" "pull-none" "clear"
//                             "center";
// $typography-classes:        true;
// $typography-helpers:        "align-top" "align-right" "align-bottom" "align-left" "align-center" "justify"
//                             "truncate";
// $border-classes:            true;
// $border-helpers:            "bordered" "border-right" "border-left" "border-top" "border-bottom";
// $radius-classes:            true;
// $radius-helpers:            "square" "round";
// $rotation-classes:          true;
// $rotation-helpers:          "rotate-90" "rotate-90-ctr" "rotate-180" "rotate-180-ctr" "rotate-270" "rotate-270-ctr" "rotate-360" "rotate-360-ctr";
// $transition-classes:        true;

// =============================================
//                  CSS Reset
// =============================================

// reset
// $global-tags:               true;
// $reset:                     true;
// $reset-elements:            "html" "body"
//                             "div" "span" "header" "footer" "aside" "nav" "menu" "main" "section" "article" "details"
//                             "h1" "h2" "h3" "h4" "h5" "h6" "p"
//                             "ol" "ul" "li" "dl" "dt" "dd"
//                             "em" "small" "big" "strong" "b" "u" "i" "sub" "sup" "del" "strike"
//                             "q" "quote" "blockquote" "cite"
//                             "time" "address"
//                             "code" "pre"
//                             "a" "img" "center" "hr"
//                             "form" "fieldset" "legend" "label" "input" "textarea" "button"
//                             "table" "caption" "tbody" "thead" "tfoot" "tr" "th" "td"
//                             "iframe" "object" "canvas" "audio" "video" "embed";
